.skill_section form label {
  font-size: 18px;
  text-align: left;
}
.skill_section form {
  width: 70%;
  margin: auto;
}

.skill_section form input,
textarea {
  background: transparent;
  border: 1px solid #18d26f;
}

.skill_section form input:focus {
  box-shadow: 0 0 10px #18d26f;
  outline: none;
}
.skill_section form textarea:focus {
  box-shadow: 0 0 10px #18d26f;
  outline: none;
}

.save_btn {
  font-size: 18px;
  border: 1px solid #18d26f;
  background: #18d26f;
  color: #24282c;
  padding: 8px 30px;
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.save_btn:hover {
  background: transparent;
  color: #f2f5ed;
}

@media screen and (max-width: 700px) {
  .skill_section {
    padding: 2rem 0;
  }
  .contact {
    display: block;
  }
  .contact_section {
    padding: 25px 15px;
  }

  .skill_section form {
    width: 80%;
  }
}
